---
layout: base
---

<article>

    <h1>{{ title }}</h1>
    <p><strong>Descripción:</strong> {{ description }}</p>

    <p><strong>Duración:</strong> {{ duracion }}</p>

    {{ content | safe }}

</article>