<!DOCTYPE html>
<html lang="es">

{% include "partials/head.njk" %}

<body class="container">

{% include "partials/header.njk" %}

<main>
    {{ content | safe }}
</main>

{% include "partials/footer.njk" %}

</body>
</html>