<header>
    <h1>{{ title }}</h1>

    {% if description %}
    <p>{{ description }}</p>
    {% endif %}

    {% if duracion %}
    <p><strong>Duración:</strong> {{ duracion }}</p>
    {% endif %}
</header>